body,
html {
  background: black;
}

* {
  font-family: 'Lato';
  font-size: 14px;
}

.layout-v,
.layout-h {
  display: flex;
}

.layout-v {
  flex-flow: column nowrap;
}

.layout-h {
  flex-flow: row nowrap;
}

.layout-fill {
  flex-grow: 1;
}

.chrome {
  background: rgb(30, 36, 56);
  color: rgb(214, 219, 228);
}

.chrome.secondary {
  background: rgb(17, 21, 34);
}

.chrome.accent {
  background: rgb(35, 61, 146);
}

.chrome button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  color: rgb(214, 219, 228);
}

.chrome button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.chrome button.selected {
  background: rgba(0, 0, 0, 0.5);
}

.panel {
  padding: 1rem;
  overflow: auto;
  border: 1px solid rgb(19, 23, 39);
}

.control {
  background: rgb(59, 69, 97);
}
