body,
html {
  background: black;
  font-family: 'Cousine';
}

.layout-v,
.layout-h {
  display: flex;
}

.layout-v {
  flex-flow: column nowrap;
  max-width: 100%;
}

.layout-h {
  flex-flow: row nowrap;
  max-height: 100%;
}

.layout-fill {
  flex-grow: 1;
}

.chrome {
  background: rgb(29, 39, 44);
  color: rgb(214, 219, 228);
}

.chrome.secondary {
  background: rgb(18, 25, 29);
}

.chrome button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  color: rgb(214, 219, 228);
}

.chrome button.selected {
  background: rgba(0, 0, 0, 0.5);
}

.panel {
  padding: 1rem;
  overflow: auto;
}
